# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.mjs"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="file:./db.sqlite"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET="5k1lCr7ZFtoYQIAB+J/Sy/um19Ykg0+ltc3pLDOkGYk="
NEXTAUTH_URL="http://localhost:3000"

# Next Auth Discord Provider
#DISCORD_CLIENT_ID="1136499724443201646"
#DISCORD_CLIENT_SECRET="718a55344b185763f5cd0722386193395bb93eaf56a615e15c5444b618c8a122"
