@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/public/fonts/DOPEJAM.TTF');

@font-face {
    font-family: 'Dope Jam';
    src: url('/public/fonts/DOPEJAM.TTF') format('TTF');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Path: src\styles\globals.css */
#header {
    background: #25c6c179;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(179, 171, 171, 0.64);
    box-shadow: 9px 9px 16px rgba(94, 213, 234, 0.6), -9px -9px 16px rgba(81, 224, 217, 0.5);
}

/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: #25c6c0;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
}

/* General sidebar styles */
.bm-menu {
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
    background: rgba(179, 171, 171, 0.48);

    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(179, 171, 171, 0.359);
    box-shadow: 9px 9px 16px rgb(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
    color: #b8b7ad81;
    padding: 0.8em;
}

/* Individual item */
.bm-item {
    display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

#info-div {
    background: #25c6c179;
    backdrop-filter: blur(7.4px);
    -webkit-backdrop-filter: blur(7.4px);
    border: 1px solid rgba(179, 171, 171, 0.64);
    box-shadow: 9px 9px 16px rgba(94, 213, 234, 0.6), -9px -9px 16px rgba(81, 224, 217, 0.5);
}
